@import 'simple-color-picker.css';
@import 'ui-styles.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

h1,h2,h3,h4,h5{
    font-style: normal;
    font-weight: lighter;
}

html, body{
    margin:0;
    overflow-x: hidden;
}

body{
    font-size: 1.2em;
    background-color: #fff;
    color:#555;
    margin-bottom:4em;
}

article{
    max-width: 700px;
    margin: auto;
    font-family: "Source Sans Pro";
    font-weight: 300;
    padding: 1.2em;

    img{
        max-width: 100%;
    }
}

#hex-code{
    position: absolute;
    left: 0;
    top: -100vh;
    z-index: 99;
}

#hoverhex{
    color: inherit;
    z-index: 90;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    display: none;
}

#grid.dark{
    background-color: black;
    color:#999;

    #controls{
        .input, .label{
            border-color: #333;
        }
    }
}

#grid{
    background-color: inherit;
    color:inherit;
    padding: 12px;
    font-family: monospace;
    display: grid;
    font-size: 0.9em;
    grid-gap: 4px;
    grid-template-columns: 210px 210px 1fr;
    grid-template-rows: 230px 230px 1fr;
    grid-template-areas:
        'a b c'
        'd e c'
        'f f c';
    box-sizing: border-box;
    // height:100vh;
    justify-content:space-between;

    padding-bottom: 2em;
    border-bottom: 1px solid;
    border-color: #bbb;

    input {
        resize: none;
        height:16px;
        width: 96%;
        margin-top: 10px;
        border: 0;
        background-color: inherit;
        color: inherit;
        padding-left: 10px;
    }

    #colorContainer{
        margin: auto;
        height:100%;
        width:100%;
        //background-color: #f2f2f2;
        grid-area: c;

        #matrix{
            margin: 4em auto 0;
            width: 400px;
            height: 400px;
        }
    }

    #controls{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: left;
        grid-area: f;

        //height:72px;

        input{
            box-sizing: border-box;
        }

        input[type=range]{
            min-width: 100%;
            max-width: 100%;
        }

        input[type=checkbox]{
            width:26px;
        }
        .input{
            grid-column: 2;
        }
        .label{
            grid-column: 1;
        }

        .input, .label{
            padding:10px;
            border-top: 1px solid;
            border-color: #bbb;
        }
    }

    #picker-topLeft{
        grid-area: a;
    }

    #picker-topRight{
        grid-area: b;
        margin-left: auto;
        right:0;
    }

    #picker-bottomLeft{
        grid-area: d;
    }

    #picker-bottomRight{
        grid-area: e;
        margin-left: auto;
        right:0;
    }
}

@media (max-width:1000px) {
    .grid{
    }
}
